@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: -apple-system, Varela Round, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: #6a148e;
  border-color: #6a148e;
  color: #ffffff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.product-info a {
  text-decoration: none;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}

.color-cart {
  color: #ffffff;
}

.img-thumbnail {
  width: 100%;
  max-width: 100px;
  /* height: 80px; */
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
